
@{
    ViewBag.Title = "IndexView";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:#ffce54; font-family:'Segoe UI', Tahoma, Georgia, sans-serif; ">QUẢN TRỊ MÊ PHIM</h2>

