
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; font-family:'Segoe UI', Tahoma, Georgia, sans-serif; color:#ffce54" >QUẢN TRỊ MÊ PHIM</h2>
<hr />
<h4 style="text-align:center; color:red; font-family:'Segoe UI', Tahoma, Georgia, sans-serif">
    Hãy chọn tính năng quản lý mà bạn cần!
</h4>
<hr />


