
@{
    ViewBag.Title = "IndexCheck";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:#ffce54; font-family:'Segoe UI', Tahoma, Georgia, sans-serif">QUẢN TRỊ MÊ PHIM</h2>
<hr />
<h4 style="text-align:center; color:red; font-family:'Segoe UI', Tahoma, Georgia, sans-serif">
    Vui lòng đăng nhập trước khi sử dụng tính năng quản lý này!
</h4>
<hr />

