
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Mê Phim</title>
    <style>
        .sub-main-w3 input[type="text"] {
            outline: none;
            font-size: .9em;
            padding: 1em 3em 1em 1em;
            border: none;
            margin-bottom: 0.3em;
            background: rgba(255, 255, 255, 0.85);
            width: 82%;
            color: #000;
            border-radius: 30px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 1px;
        }
    </style>

    <link rel="stylesheet" href="~/GiaoDienLogin/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/GiaoDienLogin/css/font-awesome.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">

</head>
<body>

    <div class="center-container">

        <div class="header-w3l">
            <h1>Login Mê Phim</h1>
        </div>

        <div class="main-content-agile">
            <div class="sub-main-w3">
                <div class="wthree-pro">
                    <h2>Login Quick</h2>
                </div>
                <form action="#" method="post">
                    <div class="pom-agile">
                        <input placeholder="E-mail" name="UserName" class="user" type="text" required="">
                        <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <div class="pom-agile">
                        <input placeholder="Password" name="password" class="pass" type="password" required="" id="password">
                        <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                    </div>
                    <div class="sub-w3l">
                        <h6><a href="#">Forgot Password?</a></h6>
                        <div class="right-w3l">
                            <input type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <footer>
            <div class="footer">
                <p>&copy; Mê Phim <a href=""></a></p>
            </div>
        </footer>
    </div>
</body>
</html>
