@model IEnumerable<MePhim.Models.PHIMLE>
    <ul class="list-group" >
        <li class="list-group-item active" style="font-weight:bold; text-align:center; background-color:#242526; color:#ffce54; border:1px solid #ffce54 ">PHIM LẺ</li>
        @foreach(var item in Model)
            {
                <a href="@Url.Action("ChiTietPhim","Phim", new { id= item.MaPhim})"
                class="list-group-item" style="background-color:#242526; color:#fff " >@item.TenPhimLe</a>
            }
    </ul>
